@import './quasar-variables.sass'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap')
*
    font-family: "Poppins", sans-serif
.number
    font-family: 'Montserrat', sans-serif !important

.wrapper
    max-width: 1400px
    margin: 0 auto
